<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODE : <%= nodeID %></title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center justify-content-center">
                    <h2>VVPAT : <span id="activity" style="color: red;">Inactive</span></h2>
                    <p>VVPAT Interface</p>

                    <table class="table table-bordered table-dark ">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Sign</th>
                                <th scope="col">Button</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Candidate 1</td>
                                <td>AGR</td>
                                <td> <button class="btn btn-light votebtns" id="0x19c51" data-cand-name="Candidate 1" disabled="true">Vote</button> </td>
                            </tr>
                            <tr>
                                <td>Candidate 2</td>
                                <td>ASH</td>
                                <td> <button class="btn btn-light votebtns" id="0xc65a3" data-cand-name="Candidate 2" disabled="true">Vote</button> </td>
                            </tr>
                            <tr>
                                <td>Candidate 3</td>
                                <td>ASW</td>
                                <td> <button class="btn btn-light votebtns" id="0x742a2" data-cand-name="Candidate 3" disabled="true">Vote</button> </td>
                            </tr>
                            <tr>
                                <td>Candidate 4</td>
                                <td>BHA</td>
                                <td> <button class="btn btn-light votebtns" id="0x4a28a" data-cand-name="Candidate 4" disabled="true">Vote</button> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="sep"></div>
                <div class="col-sm-6 text-center">
                    <h2>Controller UI </h3>
                    <h5 class="node-id">Node-<%= nodeID %></h5>
                    <form>
                        <div class="form-group"> <br><br><br>
                            <label for="voterID">Voter ID</label>
                            <input type="text" class="form-control" id="voterID" autocomplete="off" placeholder="Enter Voter ID">
                        </div>
                        <button class="btn btn-success" id="sender">Submit</button>
                    </form>
                    <p id="status"></p>
                </div>
            </div>
        </div>
    </div>
<script src="./js/main.js"></script>
</body>
</html>