html, body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(212, 205, 205);
}

.vertical-center{
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.sep{
    border-left: 3px solid #363636;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 2.5%;
}

form{
    width: 30%;
    margin-left: 35%;
}

.table{
    width: 90%;
}